<template>
  <q-page id="table-container" class="flex flex-center">
     <q-table id="table"
  :data="this.$store.state.posts"
  :columns="columns"
  row-key="_id"
>
  <q-tr slot="header" slot-scope="props">
    <q-th v-for="col in props.cols" :key="col.name" :props="props">
      {{ col.label }}
    </q-th>
  </q-tr>

  <template slot="body" slot-scope="props">
    <q-tr :props="props._source">
      <q-td key="desc" :props="props" class="table-item-long">
        <q-checkbox color="primary" v-model="props.expand" checked-icon="remove" unchecked-icon="add" class="q-mr-md" />
        <q-btn @click="search(props.row._id)" class="more-like" color="primary" size="xs" label="More like this"  />
        <span v-if="$store.state.highlight && props.row.highlight.name" v-html="props.row.highlight.name[0]"></span>
        <span v-else v-html="props.row['_source'].name"></span>

      </q-td>
      <q-td class="table-item-long" key="author" :props="props">{{ props.row._source.author }}</q-td>
      <q-td key="tag" :props="props">{{ props.row._source.tag }}</q-td>
      <q-td key="payout" :props="props">${{ props.row._source.payout }}</q-td>
      <q-td key="date" :props="props">{{ props.row._source.date }}</q-td>
      <q-td key="votes" :props="props">{{ props.row._source.votes }}</q-td>
    </q-tr>
    <q-tr v-show="props.expand" :props="props">
      <q-td colspan="100%" class="table-item-body">
        <div class="text-left">
          <span v-if="$store.state.highlight && props.row.highlight.body" v-html="props.row.highlight.body[0]"></span>
          <span v-html="props.row['_source'].body"></span>
            </div>
      </q-td>
    </q-tr>
  </template>
</q-table>
  </q-page>
</template>

<style>
#table{
  width: 100%;
  margin: 15px;
}
#table-container{
  align-items: flex-start;
}

.q-table-middle{
  overflow-x: hidden;
}

.table-item-body{
  white-space: pre-line !important;
}

.table-item-long{
      white-space: normal !important;
}
</style>

<script>
export default {
  data(){
     return {
       data: [],
       morelike_id: null,
    columns: [
      {
        name: "desc",
        required: true,
        label: "Post title",
        align: "left",
        field: row => row._source.name,
        sortable: true,
        classes: "my-class",
        style: "width: 500px"
      },
       { name: 'author', label: 'Author', field: row => row._source.author , sortable: true },
        { name: 'tag', label: 'Tag', field: row => row._source.tag , sortable: true },
        { name: 'payout', label: 'Payout', field: row => row._source.payout , sortable: true  },
        { name: 'date', label: 'Date', field: row => row._source.date , sortable: true  },
        { name: 'votes', label: 'Votes', field: row => row._source.votes ,  sortable: true  }
    ]
     }
  },
   methods: {
     search(id){
       this.morelike_id = id;
        var self = this;
      this.$axios.get('/es/morelike',{
        params: {
         id: self.morelike_id
       }
      })
        .then((response) => {
          this.$store.commit('updateHighlight', false);
          this.$store.commit('updateCount',response.data.total.total);
         this.$store.commit('update',response.data.total.hits);
          var newStats = {
            labels: [],
            datasets: [
              {
               label: 'Tags Frequency',
               backgroundColor: '#8134AF',
                data: []
            }
            ]
         }
        response.data.aggs.posts.buckets.map( a => {
              newStats.labels.push(a.key),
              newStats.datasets[0].data.push(a.doc_count)
          });
         this.$store.commit('updateChart',   newStats);
        })
        .catch(() => {
          this.$q.notify({
            color: 'negative',
            position: 'top',
            message: 'Loading failed',
            icon: 'report_problem'
          })
        })
     }
  }
};
</script>
