<template>
  <q-layout view="lHh Lpr lFf">
    <q-layout-header>
      <q-toolbar
        color="primary"
        :glossy="$q.theme === 'mat'"
        :inverted="$q.theme === 'ios'"
      >
        <q-btn
          flat
          dense
          round
          @click="leftDrawerOpen = !leftDrawerOpen"
          aria-label="Menu"
        >
          <q-icon name="menu" />
        </q-btn>

        <q-toolbar-title>
          Steemit App
          <div slot="subtitle">Running on Quasar v{{ $q.version }}</div>
        </q-toolbar-title>
      </q-toolbar>
    </q-layout-header>

    <q-layout-drawer
      v-model="leftDrawerOpen"
      :content-class="$q.theme === 'mat' ? 'bg-grey-2' : null"
    >
      <q-list
        no-border
        link
        inset-delimiter
      >
        <q-list-header>Search form</q-list-header>
        <div  class="default-padding">
        <q-search autocomplete="off" id="search" v-on:keydown.enter="fulltext" v-model="model" placeholder="Start typing a post name">
        <q-autocomplete @search="autosearch" @selected="selected" :min-characters="3" />
      </q-search>

         <q-chips-input class="default-margin" v-model="chips1" placeholder="Tags" />
            <!-- <q-input class="default-margin" v-model="num" type="number" prefix="$" stack-label="Payout from" />
            <q-input class="default-margin"  v-model="num" type="number" prefix="$" stack-label="Payout to" /> -->
            <div class="caption">Payout</div>
             <q-item class="no-padding">
          <q-item-side icon="local_atm" />
          <q-item-main>
            <q-range v-model="standard" :decimals="2" :min="0.00" :max="500.00"  :step="0.10" label color="secondary "/>
          </q-item-main>
        </q-item>
        <q-list>
        <q-list-header>Date filter</q-list-header>
        <q-item>
          <q-item-side icon="date_range" />
          <q-item-main>
            <q-datetime class="no-margin" v-model="date1" type="date"  />
          </q-item-main>
        </q-item>
        <q-item>
          <q-item-side icon="date_range" />
          <q-item-main>
            <q-datetime class="no-margin" v-model="date2" type="date"  />
          </q-item-main>
        </q-item>
      </q-list>
      <q-item class="no-padding">
              <q-toggle v-model="check1" label="Tags chart" />
              </q-item>
            <q-btn id="search-button" color="primary"  @click="fulltext" class="default-margin" label="Search" />
            <commit-chart v-show="check1" :chartData="this.$store.state.chart_data"></commit-chart>
     </div>
      </q-list>
    </q-layout-drawer>

    <q-page-container>
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script>
import { openURL } from 'quasar'
import { date } from 'quasar'
import CommitChart from '../components/CommitChart'


export default {
  name: 'MyLayout',
  components: {
    CommitChart
  },
  data () {
    return {
      chips1: [],
      check1: true,
      date2: null,
      date1: null,
      model: '',
      data: {
      labels: [],
      datasets: [
        {
          label: 'Tags Frequency',
          backgroundColor: '#f87979',
          data: []
        }
      ]
      },
      posts: [],
      num: 5,
        standard: {
        min: 0.00,
        max: 500.00
      },
      leftDrawerOpen: this.$q.platform.is.desktop
    }
  },
  created () {
    this.search();
  },
   methods: {
    openURL,

  parsePosts () {
  return this.posts.map(post => {
    return {
      label: post['_source'].name,
      value: post['_source'].name
    }
  })
},

    fulltext () {
      var self = this;


      this.$axios.get('/es/fulltext', {
      params: {
         text: self.model,
         tags: ((self.chips1.length > 0) ? self.chips1 : this.$store.state.tags),
         payout_min: self.standard.min,
         payout_max: self.standard.max,
         date_min: date.formatDate(self.date1, 'YYYY-MM-DD HH:mm:ss'),
         date_max: date.formatDate(self.date2, 'YYYY-MM-DD HH:mm:ss')
       }
      })
        .then((response) => {
          this.$store.commit('updateHighlight', true);
          this.$store.commit('updateCount',response.data.total.total);
         this.$store.commit('update',response.data.total.hits);
         var newStats = {
            labels: [],
            datasets: [
              {
               label: 'Tags Frequency',
               backgroundColor: '#8134AF',
                data: []
            }
            ]
         }
        response.data.aggs.posts.buckets.map( a => {
              newStats.labels.push(a.key),
              newStats.datasets[0].data.push(a.doc_count)
          });
         this.$store.commit('updateChart',   newStats);
        })
        .catch(() => {
          this.$q.notify({
            color: 'negative',
            position: 'top',
            message: 'Loading failed',
            icon: 'report_problem'
          })
        })
    },
    search () {
      var self = this;
      this.$axios.get('/es/total')
        .then((response) => {
          console.log(response)
          this.$store.commit('updateCount',response.data.total.total);
         this.$store.commit('update',response.data.total.hits);
         this.$store.commit('addTag',   response.data.aggs.posts.buckets);
         var newStats = {
            labels: [],
            datasets: [
              {
               label: 'Tags Frequency',
               backgroundColor: '#8134AF',
                data: []
            }
            ]
         }
        response.data.aggs.posts.buckets.map( a => {
              newStats.labels.push(a.key),
              newStats.datasets[0].data.push(a.doc_count)
          });
            this.$store.commit('updateChart',   newStats);
        })
        .catch(() => {
          this.$q.notify({
            color: 'negative',
            position: 'top',
            message: 'Loading failed',
            icon: 'report_problem'
          })
        })
    },

    autosearch (model, done) {
      var self = this;
      this.$axios.get('/es/autocomplete',{
        params: {
         text: self.model
       }
      })
        .then((response) => {
          self.posts = response.data.total.hits;
          done(self.parsePosts());
        })
        .catch(() => {
          this.$q.notify({
            color: 'negative',
            position: 'top',
            message: 'Loading failed',
            icon: 'report_problem'
          })
        })
    },

    selected (item) {
      this.$q.notify(`Selected suggestion "${item.label}"`)
    },
  }
}
</script>

<style>
#search-button{
  width: 100%;
}

.default-margin{
  margin: 15px 0px;
}

.default-padding{
  padding: 15px;
}
</style>
