// app global css
.gradient{
  background-image: linear-gradient(to right, #8134AF,#DD2A7B, #06D6A9) !important;
}

tag1{
  background-color: yellow;
}

.more-like{
  padding: 5px;
  margin-right: 10px;
}
